body {
  background-image: url(../../assets/large/Grand-Junction.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 56%;
}

/* Nav CSS */
.navBar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #f5f5f5;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 100;
  position: fixed;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: fit-content;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 2vw;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
  color: #f5f5f5;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  color: #f5f5f5;
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-toggle:hover {
  color: #f5f5f5;
}

span {
  margin-left: 16px;
}

/* Slider CSS */
.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 850px;
  height: 400px;
  border-radius: 10px;
}

.slide {
  opacity: 0;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
}

/* login/signup form Styling */
.landingPage {
  margin: 4vw;
}

.landingPageInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
  border-radius: 2vw;
  background: rgba(135, 206, 235, 0.6);
}

.landingPageInfo p {
  font-size: 1.5vw;
}

.loginArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1vw;
}

.MyButton {
  background-color: #1a83ff;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 3vw;
  padding: 7px;
}

.MySecondButton {
  background-color: #1a83ff;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 3vw;
  padding: 7px;
  text-decoration: none;
}

/* Footer Styling */
footer {
  margin-bottom: 0vh;
  padding-left: 3vw;
  padding-right: 3vw;
background-color: rgba(135, 206, 235, 0.6);
  position: -webkit-sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

footer h4 {
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}

.footerArea {
  display: flex;  
  justify-content: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.developerStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appSpin img:hover {
  animation: App-logo-spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.MyRed {
  color: red;
  font-size: large;
  background-color: #1a83ff;
  border-radius: 1vw;
}

.MyRed:hover {
  opacity: 0.7;
}

.Border2 {
  box-shadow: 0 0 20px rgb(25, 25, 112);
  border: 6px solid rgb(135, 206, 235);
  background-color: #69a583;
  border-radius: 10px;
  opacity: 0.9;
}

.cursor {
  cursor: pointer;
}

/* Donation Page */
.donateMargin {
  padding: 5vw;
}

.donateContainer {
  background: rgba(135, 206, 235, 0.6);
  border-radius: 1vw;
  text-align: center;
  max-width: 70%;
  max-height: fit-content;
}

.donateSection {
  padding: 3vw;
  display: flex;
  justify-content: space-between;
}

.donateForm {
  margin-left: 33vh;
  margin-top: 5vh;
}

.row {
  display: flex;
  justify-content: center;
}

#donateBox {
  height: 600px;
  width: 100%;
  min-width: 300px;
  max-height: none !important;
}

.donorWallContainer {
  padding-left: 3vw;
}

#donarWall {
  background: rgba(135, 206, 235, 0.6);
  width: auto;
  max-width: 500px;
  min-width: 310px;
  max-height: none !important;
  border-radius: 1vw;
}

/* Support Style */
.contCenter {
  display: flex;
  justify-content: center;
  margin: 3vw;
}

.contSection {
  background: rgba(135, 206, 235, 0.6);
  box-shadow: 0 0 20px rgb(25, 25, 112);
  border: 6px solid rgb(135, 206, 235);
  width: 50%;
  padding: 2vw;
  border-radius: 1vw;
}

.contactStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactDiv {
  padding: 5px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1050px) {
  .slider {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    margin-top: 56vh;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: rgba(135, 206, 235, 0.6);
  }

}
@media screen and (max-width: 577px) {
  .slider {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sliderImg {
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }

  footer {
    margin-top: 20vh;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: rgba(135, 206, 235, 0.6);
  }
}
/* Profile Page */
.welcome {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}

