/* Slider CSS */
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImg {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%; 
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%; 
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease ;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* login/signup form Styling */
.landingPage {
    margin: 4vw;
}

.landingPageInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: cornsilk;
    padding: 1vw;
    border-radius: 2vw;
}

.landingPageInfo p {
    font-size: 1.5vw;
}

.loginArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4vw;
    width: 50%;
}

.loginArea button {
    background-color: blue;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 1vw;
    padding: 7px;
}

/* Footer Styling */
footer {
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: cornsilk;
}

footer h4 {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}

.footerArea {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.developerStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .appSpin img:hover {
    animation: App-logo-spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }


